*{margin: 0; padding: 0;}
#contenedor{background: #ccc; margin:  0 auto; width: 960px;}
body{background: rgb(170, 47, 47);}

h2{color: #0000FF; border-bottom: 2px solid #0000FF; border-top: 1px solid #000FF; margin: 10px 0; padding:  5px; text-align: center;}
p{color: #FF0000; margin-left: 520px;}

form{width: 400px; margin:  0 auto;}
form fieldset{border-radius: 10px; border: 2px solid #0000FF; margin-bottom: 20px; padding: 10px;}
form fieldset legend{background: #2E64FE; border: 1px solid #0000FF; border-radius: 10px; color: #FFF; padding: 5px;}

form span{color:  #ff5e00;}
form label{display: inline-block; width: 140px; font-weight: bold;}
form input{width: 220px; padding: 5px; margin-bottom: 5px;}
form input[type="radio"]{width: 20px; padding: 5px; margin-bottom: 5px;}
form select{width: 220px; padding: 5px; margin-bottom: 5px;}
form input[type="file"]{background: #5882FA; width: 220px; padding: 9px; font-size: 9px; margin-bottom: 5px;}

form input[type="date"]{width: 220px; padding: 3px; margin-bottom:  5px;}

form input[type="color"]{width: 220px; padding: 3px; margin-bottom:  5px;}

form input[type="checkbox"]{width: 15px; padding: 3px; margin-bottom:  5px;}
form textarea{width: 220px; padding: 5px; margin-bottom: 5px;}
form input, textarea{vertical-align: top;}
form button{background: #81BEF7; border-radius: 10px; color: #FFF; font-size: 12px; width: 80px; padding: 5px;}
form button:hover{background: #81f781;}

footer{background: rgb(204, 204, 204); margin-top: 20px; text-align: center;}



